@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
html {
    scroll-behavior: smooth;
}
body {
    background-color: rgb(22, 22, 22);
    font-family: Poppins, sans-serif;
    color: #fff;
    padding: 0;
    margin: 0;
}
#navbar {
    background-color: rgb(39, 40, 44);
    position: fixed;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 270px;
}
#navbar header {
    color: aqua;
    font-size: 20px;
    font-weight: 700;
    padding-top: 10px;
    padding-left: 15px;
}
#navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#navbar li {
    padding-top: 15px;
}
#navbar a {
    text-decoration: none;
    font-weight: 300;
    color: #fff;
    padding-left: 15px;
}
#navbar a:hover {
    color: gold;
    font-weight: 400;
}
#navbar a:current {
    color: gold;
}

.main-section {
    background-color: rgb(39, 40, 44, 0.3);
    max-width: 1130px;
    margin-left: 280px;
}
.main-section header {
    font-size: 24px;
    font-weight: 500;
    padding-top: 20px;
}
p, li {
    font-weight: 300;
}
code {
    background-color: rgb(255, 255, 255, 0.8);
    display: block;
    color: #000;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;  
}
#navbar a.icon {
    display: none;
}

@media only screen and (max-width: 768px) {
    #navbar {
        position: fixed;
        overflow: hidden;
        height: fit-content;
        width: 100%;
        z-index: 2;
    }
    #navbar #myLinks {
        display: none;
    }
    #navbar a {
        display: block;
    }
    #navbar header {
        font-size: 20px;
        font-weight: 500;
        padding-bottom: 10px;
    }
    #navbar a.icon {
        display: unset;
        position: absolute;
        padding-right: 15px;
        right: 0;
    }
    .main-section {
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
        margin: 0 auto;
    }
    .main-section header {
        font-size: 18px;
        padding-top: 55px;
    }
    .section-wrapper {
        margin: auto 10px;
        
    }
}

